<section class="mw-800 mb-3">
  <%= simple_form_for @service do |f| %>
    <div class="f-wrapper">
      <div class="d-flex justify-content-between w-100 ">
        <h1 class="d-title mb-5">ADD SERVICE</h1>
      </div>
      <div class="d-container">
       <div class="row mt-4">
            <%= f.input :name %>
            <%= f.input :frequency, label: 'SERVICE FREQUENCY (MONTHS)', placeholder: "MONTHS UNTIL THE NEXT SERVICE?" %>
        </div>
        <%= f.submit 'ADD NETWORK', class: 'primary-btn mt-4' %>
      </div>
    </div>
  <% end %>
</section>
