<section class="mw-700 mb-3">
  <div class="f-wrapper">
    <h1 class="text-center d-title mb-5">ADD COMMENT</h1>
    <div class="d-container">
      <%= simple_form_for [@task, @comment] do |f| %>
        <%= f.input :content, label: 'Leave your comment' %>
        <%= f.input :photos, label: 'Add your pictures', as: :file, input_html: { multiple: true } %>
        <%= f.button :submit, 'POST', class: "primary-btn" %>
      <% end %>
    </div>
  </div>
</section>















