.network-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  p {
    margin: 0;
  }
}

.text-red {
  color: #EB0000 !important;
}

.text-green {
  color: #20603D !important;
}

.bold {
  font-weight: 600;
}

.search-bar {
  width: 300px;
}

.network {
  text-decoration: none;
  position: relative;
  &:hover {
    border-radius: 8px;
    background: #F5F5F5;
    .menu-options {
      display: flex;
    }
  }
}

.g-two {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr;
}

.g-four {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.g-four__100 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.info-square {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 24px 16px;
  span {
    font-weight: 600;
    font-size: 20px;
    color: #0073DE;
  }
}

.new-network-card-cont {
  display: flex;
  flex-wrap: wrap
}

.new-network-card {
  border: 1px solid #0073DE;
  border-left: 16px solid #0073DE;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 200px;
  width: 220px;
  transition: all 0.1s ease;
  margin: 8px;
  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  }
}

.new-network-card__name {
  color: #0073DE;
  font-weight: 600;
}
