.network-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  p {
    margin: 0;
  }
}

.text-red {
  font-weight: 600;
  color: #EB0000;
}

.text-green {
  font-weight: 600;
  color: #20603D;
}

.search-bar {
  min-width: 300px;
}

.network {
  text-decoration: none;
  .network-grid:hover {
    border-radius: 8px;
    background: #F5F5F5;
  }
}

.g-two {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr;
}

.g-four {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.info-square {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 24px 16px;
  span {
    font-weight: 400;
    font-size: 20px;
  }
}
