.s-ot {
  grid-column-start: 0;
  grid-column-end: 1;
}

.s-tt {
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.s-eq {
  grid-column-start: 1;
  grid-column-end: 4;
}

.eq-cont {
  background: #F6F6F6;
  border: 1px solid #5C5C5C;
  margin-top: 16px;
  height: 288px;
  overflow: scroll;
}

.eq-three {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  p {
    margin: 0;
  }
}

.eq-hov:hover {
  background: #E6E6E6;
}
