.task-green {
  height: 16px;
  width: 16px;
  background: #20603D;
  border-radius: 50%;
}

.task-red {
  height: 16px;
  width: 16px;
  background: #EB0000;
  border-radius: 50%;
}

.task-tag {
  background: #FFFFFF;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  padding: 3px 14px 3px 7px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  letter-spacing: .5px;
}

.t-info {
  flex-grow: 1;
}

.t-six {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr auto;
  grid-gap: 16px;
  padding: 16px;
  p {
    margin: 0;
  }
}

.t-dates {
  display: flex;
  flex-shrink: 0;
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 48px;
  }
}

.c-imgs {
  height: 200px;
  margin: 12px;
  cursor: pointer;
}

#expandImg {
  .modal-dialog {
    max-width: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
  }
  .modal-content {
    background-color: rgba(0,0,0,0);
    border: none;
  }
  .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    max-width: 80vw;
    max-height: 80vh;
    object-fit: cover;
  }
}

.c-time {
  font-size: 12px;
}

.c-card {
  position: relative;
  .menu-options {
    display: flex;
    top: 8px;
  }
}

// FORMS

.task_unscheduled {
  label {
    color: #F61515;
  }
  .form-check-input {
    border-color: #F61515;
  }
  .form-check-input:checked {
    border-color: #0D6EFD;
  }
}

.category-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  font-size: 12px;
  padding: 8px 12px;
  border: 1px solid #CED4DA;
  border-radius: 8px;
  background-color: white;
  text-align: center;
}

.category-selector:checked + label {
  border-color: #0073DE !important;
}

.task_technician {
  .collection_radio_buttons {
    margin: 0 12px 12px 0;
  }
}
















