.u-grid {
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  position: relative;
  p {
    margin: 0;
  }
}

.u-card {
  height: 300px;
  width: 300px;
  .avatar-large {
    height: 100px;
    width: 100px;
  }
  .avatar-initials {
    height: 100px;
    width: 100px;
    font-size: 46px;
  }
  &:hover {
    .menu-options {
      display: flex;
    }
  }
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

.inactive {
  border-color: #DE0000 !important;
}
