<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'background.jpg' %>);">
  <h1>MAINTENANCE TRACKER</h1>
  <%= link_to 'LOGIN', new_user_session_path, class: 'primary-btn landing-btn' %>
  <p></p>
</div>
