.primary-btn {
  border-radius: 20px !important;
  padding: 10px 28px;
  color: #FFFFFF !important;
  text-decoration: none;
  letter-spacing: 1px;
  background: linear-gradient(90deg, #0073DE, #3795EC);
  font-size: 14px;
  display: inline-flex;
  border: none;
  transition: all 0.1s ease;
  &:hover {
    background: linear-gradient(90deg, #005CB2, #2477C4);
    color: #FFFFFF !important;
    transform: translateY(-1px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  }
}

.secondary-btn {
  border-radius: 20px !important;
  padding: 10px 28px;
  color: #0073DE !important;
  text-decoration: none;
  letter-spacing: 1px;
  background: linear-gradient(90deg, #F6F6F6, #E7E7E7);
  font-size: 14px;
  display: inline-flex;
  border: 1px solid #0073DE;
  transition: all 0.1s ease;
  &:hover {
    background: linear-gradient(90deg, #F5FBFF, #D5E9FA);
    color: #0073DE !important;
    transform: translateY(-1px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  }
}

.third-btn {
  border-radius: 20px !important;
  padding: 10px 28px;
  color: #FD8B05 !important;
  text-decoration: none;
  letter-spacing: 1px;
  background: linear-gradient(90deg, #FFD3A3, #FFCB94);
  font-size: 14px;
  display: inline-flex;
  transition: all 0.1s ease;
  &:hover {
    background: linear-gradient(90deg, #FFC484, #FFB96E);
    color: #FD8B05 !important;
    transform: translateY(-1px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  }
}

.landing-btn {
  font-size: 24px;
  padding: 18px 52px;
  border-radius: 50px !important;
}
