.primary-btn {
  border-radius: 20px;
  padding: 12px 26px;
  color: #FFFFFF;
  text-decoration: none;
  letter-spacing: 1px;
  background: linear-gradient(90deg, #0073DE, #3795EC);
  font-size: 14px;
  display: inline-flex;
  &:hover {
    background: linear-gradient(90deg, #005CB2, #2477C4);
    color: #FFFFFF;
  }
}

.landing-btn {
  font-size: 24px;
  padding: 18px 52px;
  border-radius: 50px;
}
