.d-wrapper {
  min-height: calc(100vh - 132px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 56px 0;
}

.d-container {
  width: 500px;
  @include media-breakpoint-down(md) {
    width: 100%;
    padding: 0 24px;
  }
}

.d-title {
  color: #5C5C5C;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.5px;
  @include media-breakpoint-down(md) {
    font-size: 16px;
  }
}
