.pag-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 16px 14px;
  position: relative;
  @include media-breakpoint-down(md) {
    padding: 16px;
  }
}


.pagination {
  padding-top: 16px;

  .page, .next, .last, .first, .prev {
  }
  a {
    padding: 1px 8px;
    display: inline-block;
    text-decoration: none;
  }
  .current {
    background: linear-gradient(90deg, #F6F6F6, #E7E7E7);
    color: #0073DE !important;
    border: 1px solid #0073DE;
    border-radius: 6px !important;
    padding: 1px 8px;
  }

  @include media-breakpoint-down(md) {
    padding: 0;
  }
}

.page-entry {
  font-weight: 300;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
