.mapboxgl-popup-content {
  padding: 16px;
  border: 2px solid #199BD7;
  p {
    letter-spacing: 1px;
  }
  span {
    font-weight: 400;
  }
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-map {
  border-radius: 8px;
}

.mapboxgl-popup-tip {
  border-bottom-color: transparent !important;
}
