.mapboxgl-popup-content {
  padding: 16px;
  p {
    letter-spacing: 1px;
  }
  span {
    font-weight: 400;
  }
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-map {
  border-radius: 8px;
}
