.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 100px;
  padding: 0 72px;
  border-bottom: 1px solid #D4D4D4;
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
}

.spacer {
  height: 100px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  height: 72px;
}

.nav-seperator {
  border-left: 1px solid #D4D4D4;
}

.navbar-lewagon .navbar-brand img {
  height: 54px;
}

.nav-link {
  padding-left: 24px !important;
  font-size: 14px;
}

.nav-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  h6 {
    // font-weight: 600;
    font-size: 14px;
    margin: 0;
    color: #20603D;
  }
  p {
    font-size: 12px;
    margin: 0;
    color: #959595;
  }
}

.dropdown-toggle::after {
  border: none !important;
  margin: 0 !important;
}
