.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 100px;
  padding: 0 48px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 54px;
}
