// Styling for shared components

.min-height {
  min-height: calc(100vh - 100px);
}

input, select {
  border-radius: 20px !important;
  font-weight: 200 !important;
}

textarea {
  border-radius: 16px !important;
  font-weight: 200 !important;
  min-height: 100px !important;
  resize: none;
}

p, a {
  font-size: 14px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.5px;
}

.form-label {
  margin-left: 2px !important;
  margin-bottom: 2px !important;
  font-size: 14px !important;
  text-transform: uppercase;
}

.col-form-label {
  font-size: 14px !important;
  text-transform: uppercase;
}

.form-check-label {
  letter-spacing: .5px;
}

.f-container {
  width: 100%;
  max-width: 800px;
}

.text-link {
  color: #0073DE;
  font-size: 14px;
  text-decoration: none;
}

.form-text {
  font-size: 10px;
}

.mt-wrapper {
  display: flex;
}

.mt-content {
  flex-grow: 1;
  margin-left: 212px;
  padding: 16px 16px 0;
  max-width: calc(100vw - 212px);
  min-width: 800px;
}

.headers {
  color: #5C5C5C;
  letter-spacing: 1px;
}

section {
  background: #FFFFFF;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid #D4D4D4;
  box-shadow: -1px 1px 2px rgba(0,0,0,0.1);
  .headers {
    text-align: left;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
}

.mw-800 {
  min-width: 800px;
}

.f-wrapper {
  min-height: calc(100vh - 166px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
}

.menu-options {
  height: 22px;
  width: 22px;
  color: #464646;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 8px;
  position: absolute;
  right: 6px;
  top: 2px;
}

.dropdown-menu {
  border-radius: 8px;
  padding: 0px;
  .dropdown-item {
    font-size: 14px;
    font-weight: 300;
    color: #5C5C5C;
    padding: 6px 16px;
  }
  .dropdown-item:first-child {
    border-radius: 7px 7px 0 0;
  }
  .dropdown-item:last-child {
    border-radius: 0 0 7px 7px;
  }
}

.option-link {
  padding: 8px;
  border-radius: 50%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  font-size: 14px;
  color: #5C5C5C;
  background: #D4D4D4;
  margin: 4px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  label {
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #9A9A9A;
  }
}









