.sidebar {
  width: 212px;
  height: 100vh;
  background: #FFFFFF;
  border-right: 1px solid #D4D4D4;
  padding: 34px 24px 0;
  flex-shrink: 0;
  position: fixed;
  left: 0;
  top: 100px;
  .active {
    background: #F5F5F5;
  }
}

.sidebar-link {
  text-decoration: none;
  display: block;
  margin: 20px 0;
  padding: 10px 16px;
  border-radius: 20px;
  transition: background 0.2s ease;
  div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  img {
    width: 22px;
    margin-right: 12px;
  }
  p {
    margin: 0;
    font-size: 14px;
    color: #20603D;
    letter-spacing: 1px;
  }
  &:hover {
    background: #F5F5F5;
  }
}


