.sidebar {
  width: 212px;
  height: calc(100vh - 100px);
  background: #FFFFFF;
  border-right: 1px solid #D4D4D4;
  padding: 24px 24px 0;
  flex-shrink: 0;
  position: fixed;
  left: 0;
  top: 100px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .active {
    background: #F5F5F5;
  }
  li {
    list-style: none;
  }
  .nav-item {
    display: flex;
    justify-content: center;
    padding: 24px 0;
  }
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.sidebar-link {
  text-decoration: none;
  display: block;
  margin: 20px 0;
  padding: 10px 16px;
  border-radius: 20px;
  transition: background 0.2s ease;
  div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  img {
    width: 22px;
    margin-right: 12px;
  }
  p {
    margin: 0;
    font-size: 14px;
    color: #5C5C5C;
    letter-spacing: 1px;
    font-weight: 500;
  }
  &:hover {
    background: #F5F5F5;
  }
  @include media-breakpoint-down(md) {
    margin: 4px 0;
  }
}


